.decorations {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  /* display: inline-block; */
}
.list {
  display: inline-block;
  padding-right: 10px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
.homework {
  margin-bottom: 50px;
}
